@font-face {
    src: url("https://iamquietw.github.io/VezdekodVMA1/materials/SF-Regular.ttf");
    font-family: "SF Regular";
}
@font-face {
    src: url("https://iamquietw.github.io/VezdekodVMA1/materials/SF-Semibold.ttf");
    font-family: "SF Semibold";
}
body {
    background: #edeef0;
}
#wrapper {

}
#block {
    width: 650px;
    height: 800px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -400px 0 0 -325px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 4px;
    z-index: 2;
}
#title {
    z-index: 1;
    box-shadow: 0 1px 0 0 #dce1e6;
    background: #fafbfc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 53px;
    width: 650px;
    display: table;
}
#title > div {
    font-family: "SF Regular", serif;
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
}
#lovers-of-tea {
    padding-top: 6px;
}
.dobriy-chel {
    display: grid;
    width: 555px;
    margin: 0 auto;
    grid-template-columns: 1fr 9fr;
    cursor: pointer;
}
.item {
    margin: 0 auto;
    width: 565px;
}
.item:hover {
    background: #f0f2f5;
}
#quietw {
    padding-top: 8px;
}
#thevayu {
    padding-top: 8px;
}
.avatar {
    display: inline;
}
.name {
    font-family: "SF Semibold", serif;
    letter-spacing: 0px;
    color: #2a5885;
    display: inline;
}
.description {
    font-family: "SF Regular", serif;
    display: inline;
}
.avatar > img {
    box-shadow: 0 3px 12px 0 rgba(16, 0, 0, 0.76);
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
